{{> navbar}}
<div class="cont">
  <div class="container mt-3">
    <h2 class="mb-2">500 -- :(</h2>
    <h3 class="mb-4">Problemas en el servidor</h3>
    <img src="/img/505.jpg" alt="cry" style="max-width:600px;width=100%">
    {{> backhome}}
  </div>
</div>