<nav class="navbar navbar-light" style="background-color: #0D0A10">
  <div class="container d-flex justify-content-between">
    <a href="/">
      <span class="navbar-brand"><img src="/img/logo2.png" width="284" height="75" class="d-inline-block align top">
      </span>
    </a>
    <div>
      <a href="/about">
        <button class="btn btn-outline-light btn-sm">
          Información de la Tienda
        </button>
      </a>
      &nbsp;
      <a href="/guitars/create">
        <button class="btn btn-outline-light btn-sm">
          Añadir un artículo
        </button>
      </a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-light" style="background-color: #2B170C">
  <div class="navbar-brand">
      <h5>
        Para mayor información, comuníquese con mesa de soporte: <b>+569 47275155</b>.
      </h5>
    <div>
</nav>